<div class="space-y-6">
  <% if user_signed_in? %>
    <%= render 'posts/form' %>
  <% end %>

  <div class="flex gap-4 border-b border-gray-200 pb-2">
    <%= link_to 'New', timeline_path(view: 'new', theme: params[:theme]), 
        class: "pb-2 border-b-2 #{@view == 'new' ? 'border-[#003399] text-[#003399]' : 'border-transparent text-gray-500 hover:text-gray-700'}" %>
    <%= link_to 'Top', timeline_path(view: 'voted', theme: params[:theme]),
        class: "pb-2 border-b-2 #{@view == 'voted' ? 'border-[#003399] text-[#003399]' : 'border-transparent text-gray-500 hover:text-gray-700'}" %>
  </div>

  <div id="posts" class="space-y-4">
    <%= render @posts %>
  </div>

  <% if @posts.empty? %>
    <div class="text-center py-12 text-gray-500">
      <p class="text-lg">No posts yet</p>
      <% if user_signed_in? %>
        <p class="mt-2">Be the first to share what you're building!</p>
      <% else %>
        <p class="mt-2">Sign in to see and share posts.</p>
      <% end %>
    </div>
  <% end %>

  <div class="mt-6">
    <%= paginate @posts %>
  </div>
</div>
